body{font-family:'Poppins',sans-serif;font-size:17px;font-style:normal;font-variant:normal;font-weight:normal;line-height:120%;}
b{font-weight:600;color:#ff1744;font-size:20px;font-style:normal;line-height:160%;}
i{font-weight:600;color:#008000;font-size:18px;font-style:normal;line-height:160%;}
mark{line-height:180%;}
ul{list-style-type:square;margin-left:5;padding:5;}
ul li {margin-bottom:4;padding:4;}
.topic {font-weight:normal;color:#ff1744;font-size:38px;font-style:normal;line-height:160%;margin:20px 20px 30px 20px;}
.description {font-weight:500;color:#428bca;font-size:19px;font-style:normal;line-height:160%;margin:15px 20px 40px 20px;}
hr.dashed {border-top: 2px dashed #999;border-color:#008000;}
hr.dotted {border-top: 2px dotted #999;border-color:#008000;}
hr.solid {border-top: 2px solid #999;border-color:#ff1744;}
hr.hr-text {position:relative;border:none;height:2px;background:#008000;border-color:#ff1744;}
hr.hr-text::before {content:attr(data-content);display:inline-block;background:#FEF1E6;font-weight:bold;font-size:1.85rem;color:#999;border-radius:30rem;padding:0.2rem 2rem;
position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);color:#ff1744;}